# Entornos Virtuales
venv/
.venv/
env/
ENV/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Archivos de sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/

# Variables de entorno
.env

# api key
config.py