# --- Entornos Virtuales (Lo más importante) ---
venv/
.venv/
env/
ENV/

# --- Archivos compilados de Python (Se generan solos, no sirven en git) ---
__pycache__/
*.pyc
*.pyo

# --- Archivos de sistema y editores (Basura) ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Variables de entorno (Seguridad) ---
.env